@font-face {font-family: "Bauer Bodoni Std 1";
    src: url("//db.onlinewebfonts.com/t/662a8dcc4d4ff7cad3314486a4a6e48c.eot");
    src: url("//db.onlinewebfonts.com/t/662a8dcc4d4ff7cad3314486a4a6e48c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/662a8dcc4d4ff7cad3314486a4a6e48c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/662a8dcc4d4ff7cad3314486a4a6e48c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/662a8dcc4d4ff7cad3314486a4a6e48c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/662a8dcc4d4ff7cad3314486a4a6e48c.svg#Bauer Bodoni Std 1") format("svg");
}

@font-face {font-family: "Sharp Sans No1 Semibold";
    src: url("//db.onlinewebfonts.com/t/d746f11d11dd01067a58e13b965e23c7.eot");
    src: url("//db.onlinewebfonts.com/t/d746f11d11dd01067a58e13b965e23c7.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d746f11d11dd01067a58e13b965e23c7.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/d746f11d11dd01067a58e13b965e23c7.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/d746f11d11dd01067a58e13b965e23c7.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/d746f11d11dd01067a58e13b965e23c7.svg#Sharp Sans No1 Semibold") format("svg");
}
